.sombra-tela{
    position: fixed!important;
    z-index: 2;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    opacity: 0.5;
    display: none;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}